# Curso Consultando Bases SQL com Python

## Códigos do Curso

In [1]:
# Importando o Driver do SQL:
import sqlite3

In [2]:
# Estabelece a Conexão com o SQL e Cria o Banco de Dados:
con = sqlite3.connect("banco.db")

In [4]:
# Cria Executa uma Query para Criar uma Tabela:
con.execute("""CREATE TABLE fruta (
                id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
                nome_fruta VARCHAR(30),
                calorias VARCHAR(30),
                PROTEINAS VARCHAR(30))""")

In [5]:
# Inserção de Dados na Tabela:
con.execute("INSERT INTO fruta (nome_fruta, calorias, proteinas) VALUES ('banana', '200', 'potasio')")

In [7]:
# Consulta todos os dados da tabela e os atribui a uma variavel:
res = con.execute("SELECT * FROM fruta")

# Imprime o Resultado da Consulta como um Array (lista):
print(list(res))

[(1, 'banana', '200', 'potasio')]

In [8]:
# Insere uma Coluna na Tabela:
con.execute("ALTER TABLE fruta ADD COLUMN carboidratos VARCHAR(30)")

### FRAMEWORK SQLALCHEMY:

In [27]:
# Carregando as Extensões:
import sqlalchemy
import pymysql

In [29]:
# Cria a Conexão com o Banco de Dados:

url = 'mysql+pymysql://root:Brb1508.@127.0.0.1/escola' # define o acesso ao MySQL

engine = create_engine(url, echo=True) # cria a Conexão

con = engine.connect() # executa a conexão

2022-06-22 17:01:10,306 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-06-22 17:01:10,307 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-06-22 17:01:10,313 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-06-22 17:01:10,314 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-06-22 17:01:10,317 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-06-22 17:01:10,318 INFO sqlalchemy.engine.Engine [raw sql] {}

In [47]:
# Fazendo uma Consulta ao MySQL:
res = con.execute('SELECT * FROM curso') # puxa todos os dados da tabela

# Imprime o Resultado da Consulta:
print(tuple(res)) # imprime todos os registros da tabela

2022-06-22 17:33:46,374 INFO sqlalchemy.engine.Engine SELECT * FROM curso
2022-06-22 17:33:46,376 INFO sqlalchemy.engine.Engine [raw sql] {}
((13, 'SQL', 'Segunda', 1), (14, 'Python', 'Terça', 2), (15, 'GIT', 'Quarta', 5), (16, 'Docker', 'Quinta', 4), (17, 'JavaScript', 'Sabado', None))

In [49]:
# Transformando a Consulta em um Dataframe do Pandas:
import pandas as pd

df = pd.read_sql('curso', con) # importa a tabela direto do MySQL

print(df) # Imprime a Tabela

2022-06-22 17:37:12,968 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-06-22 17:37:12,969 INFO sqlalchemy.engine.Engine [generated in 0.00202s] {'table_schema': 'escola', 'table_name': 'curso'}
2022-06-22 17:37:12,981 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `escola`
2022-06-22 17:37:12,982 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-06-22 17:37:13,014 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `curso`
2022-06-22 17:37:13,016 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-06-22 17:37:13,029 INFO sqlalchemy.engine.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%(table_data_1_1)s, %(table_data_1_2)s, %(table_data_1_3)s));

2022-06-22 17:37:13,030 INFO sqlalchemy.engine.Engine [generated in 0.00244s] {'table_data_1_1': 'escola', 'table_data_1_2': 'aluno_ocean', 'table_data_1_3': 'id'}
2022-06-22 17:37:13,037 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `aluno_ocean`
2022-06-22 17:37:13,038 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-06-22 17:37:13,048 INFO sqlalchemy.engine.Engine SELECT curso.id_curso, curso.nome, curso.dia, curso.id_aluno
FROM curso
2022-06-22 17:37:13,049 INFO sqlalchemy.engine.Engine [generated in 0.00148s] {}
   id_curso        nome      dia  id_aluno
0        13         SQL  Segunda       1.0
1        14      Python    Terça       2.0
2        15         GIT   Quarta       5.0
3        16      Docker   Quinta       4.0
4        17  JavaScript   Sabado       NaN

In [50]:
# Exportando a Tabela como .csv:

df.to_csv('Tabela_Curso.csv')